.tile {
  position: absolute;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 5em;
  border-radius: 5px;
  background-color: #ede4da;
  color: #766e65;
  transition: all 0.3s ease;
}

.populate {
  transform: scale(0);
  animation: populate-tile 0.3s 0.3s forwards;
}

@keyframes populate-tile {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
